<
style media ="screen">.fixed-layout .admin-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1500;
}

.fixed-layout .admin-main {
	position: relative;
	height: 100%;
	padding-top: 51px;
}

.fixed-layout .admin-content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.am-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	font-size: 1.4rem;
	margin-bottom: 0;
}

.am-content {
	position: relative;
	height: 100%;
	padding-top: 51px;
}
</
style
>